{% if include.style == "large" %}
  <div class="flex">
    <img src="{{ author.profile_image | proxy_image_url: 64, 64 }}" class="w-16 h-16 rounded-full mr-4"></img>
    <div class="flex text-sm flex-col">
      <span class="text-xl font-medium">{{ author.name }}</span>
      <span class="text-gray-500">{{ author.short_description }}</span>
    </div>
  </div>
{% else %}
  <div class="flex">
    <img src="{{ author.profile_image | proxy_image_url: 40, 40 }}" class="w-10 h-10 rounded-full mr-2"></img>
    <div class="flex text-sm flex-col">
      <span>{{ author.name }}</span>
      <span class="text-gray-500">{{ author.short_description }}</span>
    </div>
  </div>
{% endif %}
