---
layout: default
---
<section class="text-gray-700 body-font py-4">
  <div class="container px-4 mx-auto flex flex-col">
    <div class="w-full">
      <div class="flex flex-col lg:flex-row lg:items-start">
        <div class="lg:w-1/12 lg:pr-4 lg:mb-0 lg:sticky top-89 mb-4">
          {% include reaction.html %}
        </div>
        <div class="lg:w-7/12 lg:pr-4">
          <div class="text-left p-4 bg-white border sm:text-xl mb-4">
            <div class="flex-col flex">
              <div class="flex">
                {% for category in page.categories %}
                  <span class="font-medium py-1 p-2 mb-2 mr-1 bg-gray-500 inline-flex text-white text-sm">{{ category }}</span>
                {% endfor %}
              </div>
              <span class="mt-1 text-gray-500 text-xs">{{ page.date | date_to_long_string }}</span>
            </div>
            <h2 class="text-4xl text-gray-900 py-4 font-normal">{{ page.title }}</h2>
            <div class="markdown">
              {{ content }}
            </div>
          </div>
          <div>
            <p class="mb-2 title-font text-lg font-medium text-gray-900">Comment</p>
            <div class="p-4 bg-white sm:text-xl">
              <div data-controller="comment-messages" class="flex flex-col-reverse">
                <template id="comment-message">
                  <div class="flex mb-4">
                    <img src="" class="w-12 h-12 rounded-full mr-4"></img>
                    <div class="flex text-sm flex-col">
                      <span class=""></span>
                      <span class="text-gray-500"></span>
                    </div>
                  </div>
                </template>
              </div>
              <div class="flex" data-controller="comment-form">
                <input class="w-full rounded mr-4 py-2 px-4 border text-base focus:border-super-blue font-thin" placeholder="This post is awesome ..." type="text" data-target="comment-form.message">
                <button class="text-base text-white bg-super-blue border-0 py-2 px-6 rounded hover:bg-gray-600" data-action="click->comment-form#send">Send</button>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:w-4/12 mt-4 lg:mt-0 lg:sticky top-89">
          <div class="p-4 bg-white border">
            {% assign author = site.data.people[page.author] %}
            {% include author.html style='large' %}
          </div>
          {% if page.commentary %}
            <div class="mt-4">
              <p class="mb-2 title-font text-lg font-medium text-gray-900">Commentary</p>
              <div class="flex p-4 bg-white border">
                <audio controls class="w-full" preload="none">
                  <source src="{{page.commentary.path | relative_url}}" type="{{page.commentary.type}}">
                </audio>
              </div>
            </div>
          {% endif %}
          {% if page.next %}
            <div class="mt-4">
              <p class="mb-2 title-font text-lg font-medium text-gray-900">Next Post</p>
              <a href="{{ page.next.url }}">
                <img src="{{ page.next.image | relative_url | proxy_image_url: 450, 300, 'fit' }}" class="w-full">
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
