---
layout: default
---
<section class="text-gray-700 body-font py-4">
  <div class="container px-4 mx-auto flex flex-col">
    <div class="w-full">
      <div class="flex flex-col lg:flex-row lg:items-start">
        <div class="lg:w-8/12 lg:pr-4">
          <div class="text-left p-4 bg-white border sm:text-xl">
            <div class="flex-col flex">
              <div class="flex">
                {% for category in page.categories %}
                  <span class="font-medium py-1 p-2 mb-2 mr-1 bg-gray-500 inline-flex text-white text-sm">{{ category }}</span>
                {% endfor %}
              </div>
              <span class="mt-1 text-gray-500 text-xs">{{ page.date | date_to_long_string }}</span>
            </div>
            <h2 class="text-4xl text-gray-900 py-4 font-normal">{{ page.title }}</h2>
            <div class="markdown">
              {{ content }}
            </div>
          </div>
        </div>
        <div class="lg:w-4/12 mt-4 lg:mt-0 lg:sticky top-89">
          <div class="p-4 bg-white border">
            {% assign author = site.data.people[page.author] %}
            {% include author.html style='large' %}
          </div>
          {% if page.next %}
            <div class="mt-4">
              <p class="mb-2 title-font text-lg font-medium text-gray-900">โพสต่อไป</p>
              <a href="{{ page.next.url }}">
                <img src="{{ page.next.image | relative_url }}" class="w-full">
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
