@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Kanit-ExtraLight.ttf") format("truetype");
}
